*.exe
*.obj
*.o
*.out
*.dll
*.lib
*.so
*.app
*.ilk
*.pdb
*.idb

.vs/
*.user
*.suo
*.sln.docstates
*.userosscache

x64/
x86/
Debug/
Release/
out/
bin/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
build/

.DS_Store
Thumbs.db
*.log
*.tmp
